.form-floating > .form-select ~ label::after {
    background-color: rgba(0,0,0,0) !important;
}
.input-height {
    height: 58px; 
}
.list-group-item {
    background-color: #3c3c3f !important; /* Dark background */
    color: #e0e0e0 !important; /* Light text color */
}
